# Ejercicio 2.1

In [1]:
from statistics import mean

In [2]:
students = (
    ('Jairo', [4.5, 3.2, 6.1], 21, 'H'),
    ('Yaneth', [5.4, 2.3, 1.6], 19, 'M'),
    ('Carlos', [8.5, 8.2, 8.1], 23, 'H'),
    ('Anabel', [9.5, 9.2, 8.1], 17, 'M'),
    ('Roberto', [7.5, 7.2, 7.1], 16, 'H'),
)

l = {i[0] for i in students}

print(l)

{'Jairo', 'Roberto', 'Anabel', 'Carlos', 'Yaneth'}

In [3]:
t = set()
students = (
    ('Jairo', [4.5, 3.2, 6.1], 21, 'H'),
    ('Yaneth', [5.4, 2.3, 1.6], 19, 'M'),
    ('Carlos', [8.5, 8.2, 8.1], 23, 'H'),
    ('Anabel', [9.5, 9.2, 8.1], 17, 'M'),
    ('Roberto', [7.5, 7.2, 7.1], 16, 'H'),
)
t.add(tuple([(i[0], i[2]) for i in students if  i[2] >= 18]))
   
print(t)

{(('Jairo', 21), ('Yaneth', 19), ('Carlos', 23))}

In [4]:
d = set()
students = (
    ('Jairo', [4.5, 3.2, 6.1], 21, 'H'),
    ('Yaneth', [5.4, 2.3, 1.6], 19, 'M'),
    ('Carlos', [8.5, 8.2, 8.1], 23, 'H'),
    ('Anabel', [9.5, 9.2, 8.1], 17, 'M'),
    ('Roberto', [7.5, 7.2, 7.1], 16, 'H'),
)

d.add(tuple([(i[0], i[3]) for i in students if  i[2] < 18 and i[3]=='M']))

print(d)

{(('Anabel', 'M'),)}

In [6]:
students = (
    ('Jairo', [4.5, 3.2, 6.1], 21, 'H'),
    ('Yaneth', [5.4, 2.3, 1.6], 19, 'M'),
    ('Carlos', [8.5, 8.2, 8.1], 23, 'H'),
    ('Anabel', [9.5, 9.2, 8.1], 17, 'M'),
    ('Roberto', [7.5, 7.2, 7.1], 16, 'H'),
)

p = {i[0] for i in students if mean(i[1])>=6.0}

print(p)

{'Roberto', 'Anabel', 'Carlos'}